@import './base.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Roboto, sans-serif;
}

input{
    outline: none;
}
input:focus{
    outline: none;
}


@layer components{
    h3 {
        @apply font-bold
    }
    button{
        @apply bg-accent text-white py-2 px-4 rounded-md
    }
}